{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}

<h3 class="mb-4">Skillet Collections</h3>

{% for collection in collections %}

{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
<div class="row mb-4">
    {% else %}
</div>
<div class="row mb-4">
    {% endif %}
    {% endif %}
    <div class="col-sm-6">
        <div class="card shadow-lg">
            <div class="card-header">
                {{ collection }}
            </div>
            <div class="card-body">
                <p class="card-text">
                    All Skillets in the {{ collection }} Collection
                </p>

            </div>
            <div class="card-footer text-right">
                <a href="/panhandler/collection/{{ collection }}" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}