{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}

<h1>Skillet Collection {{  collection }}</h1>
{% for skillet in skillets %}

{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
<div class="row mb-4">
    {% else %}
</div>
<div class="row mb-4">
    {% endif %}
    {% endif %}
    <div class="col-sm-6">
        <div class="card shadow-lg">
            <div class="card-header">
                {{ skillet.label }}
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{  skillet.description }}
                </p>
                <p class="card-text text-muted">Skillet type: {{ skillet.type }}</p>
            </div>
            <div class="card-footer">
                <a href="/panhandler/skillet/{{ skillet.name }}" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}