{% extends 'pan_cnc/base.html' %}
{% load cnc_tags %}
{% block head %}
    <style>
        .table td {
            border-top: 0px;
        }

        @media (min-width: 768px) {
            .modal-xl {
                width: 90%;
                max-width: 1200px;
            }
        }
    </style>
    <script type="text/javascript">
        var submit_lock = false;

        var skillet = JSON.parse('{{  skillet_json | escapejs }}');

        var skillet_variables = skillet['variables'];

        var skillet_snippets = JSON.parse('{{ skillet.snippet_stack | tojson | escapejs }}');

        function add_label(key, value) {
            let label_base = $('#label_base');
            let all_labels = $('#all_labels');
            let new_label = label_base.clone();
            let new_label_key = new_label.find('[data-label_type="key"]');
            let new_label_value = new_label.find('[data-label_type="value"]');

            new_label_key.val(key);
            new_label_value.val(value);

            all_labels.append(new_label);

            new_label.css('display', '');
        }

        function add_new_label() {
            event.preventDefault();
            let new_label = $('#new_label_group');
            let new_label_key = new_label.find('[data-label_type="key"]');
            let new_label_value = new_label.find('[data-label_type="value"]');
            let key = new_label_key.val();
            let value = new_label_value.val();
            add_label(key, value);

            new_label_key.val('');
            new_label_value.val('');

        }

        function enlarge_text_area(target) {
            let text_area_input = $('#text_area_input')
            let text_area_target_input = $('#text_area_target')
            text_area_target_input.val(target);

            let source_text_input = $('#' + target);
            let source_text = source_text_input.val();

            text_area_input.val(source_text);

            $('#show_textarea_modal').modal();
        }

        function update_text_area_source() {
            let text_area_input = $('#text_area_input')
            let text_area_target_input = $('#text_area_target')

            let target = text_area_target_input.val();
            let source_text_input = $('#' + target);
            source_text_input.val(text_area_input.val());
        }

        function update_panos_snippet() {

            let snippet_name_input = $('#id_panos_snippet_name');
            let snippet_cmd_input = $('#id_panos_snippet_cmd');

            let snippet_name = snippet_name_input.val();
            let cmd = snippet_cmd_input.val();

            let snippet_def = get_snippet_definition(snippet_name);
            // let snippet_def = {};
            // snippet_def['name'] = snippet_name;
            snippet_def['cmd'] = cmd;

            // set options for the given cmd
            switch (cmd) {
                case 'set':
                    snippet_def['xpath'] = $('#id_panos_snippet_set_xpath').val();
                    snippet_def['element'] = $('#id_panos_snippet_set_element').val();
                    break;

                case 'get':
                    snippet_def['xpath'] = $('#id_panos_snippet_get_xpath').val();
                    break;

                case 'cli':
                    snippet_def['cmd_str'] = $('#id_panos_snippet_cmd_cmd_str').val();
                    break;

                case 'op':
                    snippet_def['cmd_str'] = $('#id_panos_snippet_cmd_op').val();
                    break;
            }

            snippet_def['output_type'] = $('#id_panos_snippet_output_type').val();

            snippet_def['outputs'] = [];
            $('#all_output_options').find('[id^="output_"]').each(function (index, output_div) {
                let output_div_obj = $(output_div);
                let name_span = output_div_obj.find('[data-output_attribute_type="name"]');
                let capture_type_span = output_div_obj.find('[data-output_attribute_type="key"]');
                let capture_value_span = output_div_obj.find('[data-output_attribute_type="value"]');
                let name = name_span.html();
                let capture_key = capture_type_span.html();
                let capture_value = capture_value_span.html();

                let output_def = {};
                output_def['name'] = name;
                output_def[capture_key] = capture_value;

                snippet_def['outputs'].push(output_def);
            });

            // get our old snippet def
            // let old_snippet_def = get_snippet_definition(snippet_name);
            // console.log('Replacing Snippet');
            // console.log(old_snippet_def);
            // console.log('with');
            console.log(snippet_def);

            // old_snippet_def = snippet_def;
            console.log('updated panos snippet');

            $('#snippet_outputs_add').removeClass('show');
        }

        function add_update_variable() {
            /**
             * Add or update the variable entry in the global skillet_variables variable
             */
            event.preventDefault();
            let new_variable_key = $('#id_variable_name');
            let new_variable_value = $('#id_variable_type');
            let new_variable_default = $('#id_variable_default');
            let new_variable_description = $('#id_variable_description');

            let var_name = new_variable_key.val();
            let var_type_hint = new_variable_value.val();
            let var_default = new_variable_default.val();
            let var_description = new_variable_description.val();

            new_variable_key.val('');
            new_variable_value.val('text');
            new_variable_description.val('');
            new_variable_default.val('');

            let edit_var_op = $('#id_variable_operation').val();

            let variable_def = get_variable_definition(var_name);

            if (typeof variable_def !== 'undefined') {
                if (edit_var_op === 'add') {
                    // this name exists and user has requested an 'add' operation
                    // we will not allow user to add a variable when we already have one with that name
                    alert('That variable name already exists');
                    return;
                } else {
                    // this is an update operation
                    variable_def['default'] = var_default;
                    variable_def['description'] = var_description;
                    variable_def['type_hint'] = var_type_hint;

                    get_variable_type_hint_options(variable_def);
                    return;
                }
            } else {
                // variable does not exist, create a def now
                variable_def = {
                    'name': var_name,
                    'type_hint': var_type_hint,
                    'description': var_description,
                    'default': var_default,
                }
            }

            // ensure we grab type specific items and add to the variable_definition
            get_variable_type_hint_options(variable_def);

            // push this new variable onto the skillet_variables global variable
            skillet_variables.push(variable_def);

            // add the variable to the UI
            add_variable(var_name, var_description);
        }

        function get_variable_type_hint_options(variable_definition) {
            /**
             * Get variable type_hint specific options
             */
            switch (variable_definition['type_hint']) {
                case 'text':
                    break;
                case 'dropdown':
                    let options_object = $('#all_dropdown_options');
                    let dd_list = [];
                    options_object.find('.input-group').each(function (index, object) {
                        let dropdown_option_group = $(object);
                        let option_key = dropdown_option_group.find('[data-dropdown_option_type="key"]').val();
                        let option_value = dropdown_option_group.find('[data-dropdown_option_type="value"]').val();
                        dd_list.push({'key': option_key, 'value': option_value});
                    });
                    variable_definition['dd_list'] = dd_list;
                    break;

                case 'checkbox':
                    let cbx_object = $('#all_checkbox_options');
                    let cbx_list = [];
                    cbx_object.find('.input-group').each(function (index, object) {
                        let checkbox_option_group = $(object);
                        let option_key = checkbox_option_group.find('[data-checkbox_option_type="key"]').val();
                        let option_value = checkbox_option_group.find('[data-checkbox_option_type="value"]').val();
                        cbx_list.push({'key': option_key, 'value': option_value});
                    });
                    variable_definition['cbx_list'] = cbx_list;
                    break;

                case 'radio':
                    let rad_object = $('#all_radio_options');
                    let rad_list = [];
                    rad_object.find('.input-group').each(function (index, object) {
                        let radio_option_group = $(object);
                        let option_key = radio_option_group.find('[data-radio_option_type="key"]').val();
                        let option_value = radio_option_group.find('[data-radio_option_type="value"]').val();
                        rad_list.push({'key': option_key, 'value': option_value});
                    });
                    variable_definition['rad_list'] = rad_list;
                    break;
            }
        }

        function setup_variable_type_hint_options(variable_definition) {

            // first, remove any options that may be present
            clean_up_variable_type_hint_options();

            switch (variable_definition['type_hint']) {
                case 'text':
                    break;
                case 'dropdown':
                    $.each(variable_definition['dd_list'], function (index, list_option) {
                        add_option(list_option['key'], list_option['value'], 'dropdown');
                    });
                    break;

                case 'checkbox':
                    $.each(variable_definition['cbx_list'], function (index, list_option) {
                        add_option(list_option['key'], list_option['value'], 'checkbox');
                    });
                    break;

                case 'radio':
                    $.each(variable_definition['rad_list'], function (index, list_option) {
                        add_option(list_option['key'], list_option['value'], 'radio');
                    });
                    break;
            }
        }

        function clean_up_variable_type_hint_options() {
            /**
             * Clean up and remove all previously configured type_hint options
             */

                // clean up dropdown options
            let options_object = $('#all_dropdown_options');
            options_object.find('.input-group').each(function (index, object) {
                let dropdown_option_group = $(object);
                dropdown_option_group.remove();
            });

            // clean up checkbox options
            let cbx_object = $('#all_checkbox_options');
            cbx_object.find('.input-group').each(function (index, object) {
                let option_group = $(object);
                option_group.remove();
            });

            // clean up radio options
            let rad_object = $('#all_radio_options');
            rad_object.find('.input-group').each(function (index, object) {
                let option_group = $(object);
                option_group.remove();
            });
        }

        function add_variable(key, value) {
            let variable_base = $('#variable_base');
            let all_variables = $('#all_variables');
            let new_variable = variable_base.clone();
            let new_variable_key = new_variable.find('[data-variable_attribute="name"]');
            let new_variable_value = new_variable.find('[data-variable_attribute="type"]');

            new_variable_key.val(key);
            new_variable_value.val(value);

            all_variables.append(new_variable);

            new_variable.css('display', '');
        }

        function add_snippet(key, value) {
            let snippet_base = $('#snippet_base');
            let all_snippets = $('#all_snippets');
            let new_snippet = snippet_base.clone();
            let new_snippet_key = new_snippet.find('[data-snippet_attribute="name"]');

            new_snippet_key.val(key);

            all_snippets.append(new_snippet);

            new_snippet.css('display', '');
        }

        function remove_option(option_object) {
            event.preventDefault();
            let option_to_remove_link = $(option_object);
            let option_to_remove = option_to_remove_link.closest('.input-group');
            option_to_remove.remove();
        }

        function remove_output(output_object) {
            event.preventDefault();
            let output_to_remove_link = $(output_object);
            let output_to_remove = output_to_remove_link.closest('div');
            output_to_remove.remove();
        }

        function get_variable_definition(var_name) {
            let var_def = undefined;
            $.each(skillet_variables, function (index, variable) {
                let vn = variable["name"];
                if (vn === var_name) {
                    console.log('found a match!');
                    // jquery .each uses return false as a 'break' for the loop
                    var_def = variable;
                    return false;
                }
            });

            return var_def;
        }

        function get_snippet_definition(snippet_name) {
            /**
             * Iterate the skillet_snippets global variable
             * and find the dictionary with a matching 'name' attribute
             * skillet_snippets is set from the skillet_json object passed from server side
             */
            let snippet_def = undefined;
            $.each(skillet_snippets, function (index, snippet) {
                let vn = snippet["name"];
                if (vn === snippet_name) {
                    console.log('found a match!');
                    // jquery .each uses return false as a 'break' for the loop
                    snippet_def = snippet;
                    return false;
                }
            });

            return snippet_def;
        }

        function show_add_variable() {
            /**
             * Set up and show the Add Variable Modal
             */

            let var_modal_name_field = $('#id_variable_name');
            var_modal_name_field.prop('disabled', '');
            var_modal_name_field.val('new_variable');

            $('#id_variable_description').val('Human Readable Label');
            $('#id_variable_default').val('default value');
            $('#id_variable_type').val('text');

            let edit_variable_modal = $('#edit_variable_modal');

            // Since we re-use the same dialog for both add and edit, let's set a hidden flag
            // to indicate if this should be an edit or an add operation
            let edit_var_op = $('#id_variable_operation');
            edit_var_op.val('add');

            let submit_button = $('#edit_var_submit_btn');
            submit_button.html('Add');

            // remove all previously set options, if any
            clean_up_variable_type_hint_options();

            edit_variable_modal.modal();
            setup_modal_options();
        }

        function show_edit_variable(variable_object) {
            /**
             * Set up and show the Edit Variable Modal diaglog
             */
            event.preventDefault();
            let variable_edit_link = $(variable_object);
            let var_group = variable_edit_link.closest('.input-group');
            let var_name_field = var_group.find('[data-variable_attribute="name"]');
            let var_name = var_name_field.val();
            console.log(var_name);
            let variable_def = get_variable_definition(var_name);
            console.log(variable_def);

            let var_modal_name_field = $('#id_variable_name');
            var_modal_name_field.prop('disabled', 'disabled');
            var_modal_name_field.val(var_name);

            $('#id_variable_description').val(variable_def['description']);
            $('#id_variable_default').val(variable_def['default']);
            $('#id_variable_type').val(variable_def['type_hint']);

            let edit_variable_modal = $('#edit_variable_modal');

            // Since we re-use the same dialog for both add and edit, let's set a hidden flag
            // to indicate if this should be an edit or an add operation
            let edit_var_op = $('#id_variable_operation');
            edit_var_op.val('update');

            let submit_button = $('#edit_var_submit_btn');
            submit_button.html('Update');

            setup_variable_type_hint_options(variable_def);

            edit_variable_modal.modal();
            setup_modal_options();

        }

        function setup_panos_snippet(snippet_def) {
            /**
             * Set all the fields for the panos snippet edit dialoge
             */

            // blank out all pre-existing options
            $('#edit_panos_snippet_modal').find('.form-control').val('');

            // remove all existing output options, if any
            $('#all_output_options').empty();

            // set the snippet name
            $('#id_panos_snippet_name').val(snippet_def['name']);

            // set the snippet cmd
            $('#id_panos_snippet_cmd').val(snippet_def['cmd']);

            if (typeof snippet_def['output_type'] !== 'undefined') {
                $('#id_panos_snippet_output_type').val(snippet_def['output_type']);
            } else {
                $('#id_panos_snippet_output_type').val('xml');
            }

            // set options for the given cmd
            switch (snippet_def['cmd']) {
                case 'set':
                    $('#id_panos_snippet_set_xpath').val(snippet_def['xpath']);
                    $('#id_panos_snippet_set_element').val(snippet_def['element']);
                    break;

                case 'get':
                    $('#id_panos_snippet_get_xpath').val(snippet_def['xpath']);
                    break;

                case 'cli':
                    $('#id_panos_snippet_cmd_cmd_str').val(snippet_def['cmd_str']);
                    break;

                case 'op':
                    $('#id_panos_snippet_cmd_op').val(snippet_def['cmd_str']);
                    break;
            }

            // show output definitions
            $(snippet_def['outputs']).each(function (index, output_object) {
                let capture_type = 'capture_list';
                if ('capture_pattern' in output_object) {
                    capture_type = 'capture_pattern';
                } else if ('capture_value' in output_object) {
                    capture_type = 'capture_value';
                } else if ('capture_object' in output_object) {
                    capture_type = 'capture_object';
                }
                add_output(output_object['name'], capture_type, output_object[capture_type]);
            });
        }

        function show_edit_snippet(snippet_object) {
            event.preventDefault();
            let snippet_edit_link = $(snippet_object);
            let snippet_group = snippet_edit_link.closest('.input-group');
            let snippet_name_field = snippet_group.find('[data-snippet_attribute="name"]');

            let snippet_name = snippet_name_field.val();
            let snippet_def = get_snippet_definition(snippet_name);

            if (skillet['type'] === 'panos') {
                setup_panos_snippet(snippet_def);
                $('#edit_panos_snippet_modal').modal();
            } else {
                alert('Snippet type not yet implemented');
                return;
            }
            setup_modal_options();
        }

        function update_text_variable() {
            event.preventDefault();
            let name = $('#id_text_variable_name').val();
            let description = $('#id_text_variable_description').val();
            let var_default = $('#id_text_variable_default').val();

            let variable_def = get_variable_definition(name);
            variable_def["name"] = name;
            variable_def["description"] = description;
            variable_def["default"] = var_default;

            let var_ui = $('#variable_' + name);
            let var_ui_name = var_ui.find('[data-variable_attribute="name"]');
            var_ui_name.val(name);
        }

        function toggle_modal_options(object_id) {
            /**
             * Called when Edit Snippet is called. Shows and hides the appropriate fields
             * and also sets up onchange listeners for each snippet option for the source object value
             * For example, panos type snippet cmd == 'set' should have 'xpath' shown, but not 'cmd_str'
             */
            console.log('checking here');
            console.log(object_id);
            let source_value = $('#' + object_id).val();
            $('[data-modal_source="' + object_id + '"]').each(function (i, e) {
                let this_object = $(e);
                let parent = $(e).closest('.form-group');
                let data_value = this_object.attr('data-modal_value');
                if (data_value !== source_value) {
                    console.log(' need to hide this guy');
                    parent.hide();
                } else {
                    console.log(' need to show this guy');
                    parent.show();
                }
            });
        }

        function setup_modal_options() {
            /**
             * Called each time a snippet modal is opened to ensure each field is properly display / hidden
             */
            $('[data-modal_source][data-modal_value]').each(function (i, e) {
                console.log(e);
                let input_object = $(e);

                let source_object_id = input_object.attr('data-modal_source');
                let test_value = input_object.attr('data-modal_value');

                let source_object = $('#' + source_object_id);
                console.log(source_object);
                source_object.change(function () {
                    toggle_modal_options(this.id);
                });

                let parent = input_object.closest('.form-group');
                if (source_object.val() === test_value) {
                    parent.show();
                    console.log('showing');
                } else {
                    parent.hide();
                }
            });
        }

        function add_option(opt_key, opt_value, option_type) {
            let option_base = $('#' + option_type + '_option_base');
            let all_options = $('#all_' + option_type + '_options');
            let new_option = option_base.clone();
            let new_option_key = new_option.find('[data-' + option_type + '_option_type="key"]');
            let new_option_value = new_option.find('[data-' + option_type + '_option_type="value"]');

            new_option_key.val(opt_key);
            new_option_value.val(opt_value);

            all_options.append(new_option);

            new_option.css('display', '');
        }

        function add_new_option(option_type) {
            /**
             * Called from adding a new option from the snippet modal - checkbox, radio, or dropdown options
             */
            event.preventDefault();
            let opt_key_field = $('#id_' + option_type + '_key');
            let opt_val_field = $('#id_' + option_type + '_value');

            let opt_key = opt_key_field.val();
            let opt_val = opt_val_field.val();

            add_option(opt_key, opt_val, option_type);

            opt_key_field.val('');
            opt_val_field.val('');

            opt_key_field.focus();
        }

        function add_output(output_name, output_key, output_value) {
            let output_base = $('#output_base');
            let all_outputs = $('#all_output_options');

            let new_output = output_base.clone();
            let new_output_name = new_output.find('[data-output_attribute_type="name"]');
            let new_output_key = new_output.find('[data-output_attribute_type="key"]');
            let new_output_value = new_output.find('[data-output_attribute_type="value"]');

            new_output_name.html(output_name);
            new_output_key.html(output_key);
            new_output_value.html(output_value);

            all_outputs.append(new_output);

            new_output.prop('id', 'output_' + output_name);
            new_output.css('display', '');
        }

        function add_new_output() {
            /**
             * Called from adding a new snippet output capture
             */
            event.preventDefault();
            let opt_name_field = $('#id_output_name');
            let opt_key_field = $('#id_output_key');
            let opt_val_field = $('#id_output_value');

            let opt_key = opt_key_field.val();
            let opt_val = opt_val_field.val();
            let opt_name = opt_name_field.val();

            add_output(opt_name, opt_key, opt_val);

            opt_name_field.val('');
            opt_key_field.val('');
            opt_val_field.val('');

            opt_key_field.focus();
        }

        function update_preamble() {
            /**
             * Update Skillet Preamble information
             */

            let skillet_id_input = $('#id_skillet_id');
            let skillet_label_input = $('#id_skillet_label');
            let skillet_description_input = $('#id_skillet_description');

            if (skillet_id_input.val() !== skillet['name']) {
                skillet_id_input.effect('highlight');
                skillet['name'] = skillet_id_input.val();
            }

            if (skillet_label_input.val() !== skillet['label']) {
                skillet_label_input.effect('highlight');
                skillet['label'] = skillet_label_input.val();
            }
            if (skillet_description_input.val() !== skillet['description']) {
                skillet_description_input.effect('highlight');
                skillet['description'] = skillet_description_input.val();
            }

            console.log(skillet);
        }

        function show_skillet() {

            let json_output_control = $('#skillet_json_output');

            skillet['variables'] = skillet_variables;
            skillet['snippets'] = skillet_snippets;

            json_output_control.val(JSON.stringify(skillet, null, '  '));

            $('#show_skillet_modal').modal();
        }

        function save_skillet() {
            /**
             * uploads the skillet json to Panhandler
             */
            let json_output_control = $('#id_skillet_contents');

            skillet['variables'] = skillet_variables;
            skillet['snippets'] = skillet_snippets;

            json_output_control.val(JSON.stringify(skillet, null, '  '));

            let doc = $(document.documentElement);
            doc.css('cursor', 'progress');

            $('#submit_button').prop("disabled", true);
            $('#dynamic_form').submit();

        }

        $(document).ready(function () {
            let label_vals = JSON.parse('{{ skillet.labels | tojson | safe }}');
            console.log(label_vals);

            console.log(skillet_snippets);

            $.each(label_vals, function (key, value) {
                if (typeof value == 'string') {
                    add_label(key, value);
                } else if (value instanceof Array) {
                    $.each(value, function (i, v) {
                        add_label(key, v);
                    });
                } else {
                    console.log('Unsupported label type!');
                }

            });

            console.log(skillet_variables);

            let variable_base = $('#variable_base');
            let all_variables = $('#all_variables');
            let all_snippets = $('#all_snippets');

            $.each(skillet_variables, function (index, variable) {

                let new_variable = variable_base.clone();
                let new_variable_key = new_variable.find('[data-variable_attribute="name"]');
                let new_variable_value = new_variable.find('[data-variable_attribute="type"]');

                new_variable_key.val(variable["name"]);
                new_variable_value.val(variable["description"]);

                new_variable.attr('id', 'variable_' + new_variable_key);
                all_variables.append(new_variable);

                new_variable.css('display', '');
            });

            $.each(skillet_snippets, function (index, snippet) {
                let snippet_base = $('#snippet_base');
                let new_snippet = snippet_base.clone();
                let new_snippet_key = new_snippet.find('[data-snippet_attribute="name"]')

                new_snippet_key.val(snippet['name']);
                new_snippet.attr('id', 'snippet_' + new_snippet_key);

                all_snippets.append(new_snippet);

                new_snippet.css('display', '');

            });

            setup_modal_options();

            all_variables.sortable({
                handle: '.input-group-prepend',
                tolerance: "pointer",
                containment: 'parent',
                update: function (event, ui) {
                    let updated_vars = [];
                    all_variables.find('[data-variable_attribute="name"]').each(function (index, object) {
                        let var_input = $(object);
                        let var_name = var_input.val();
                        let this_var_def = get_variable_definition(var_name);
                        updated_vars.push(this_var_def);
                    });
                    skillet_variables = updated_vars;
                }
            });

            all_snippets.sortable({
                handle: '.input-group-prepend',
                containment: 'parent',
                tolerance: "pointer",
                update: function (event, ui) {
                    let updated_snippets = [];
                    all_snippets.find('[data-snippet_attribute="name"]').each(function (index, object) {
                        let snippet_input = $(object);
                        let snippet_name = snippet_input.val();
                        let this_snippet_def = get_snippet_definition(snippet_name);
                        updated_snippets.push(this_snippet_def);
                    });
                    skillet_snippets = updated_snippets;
                }
            })
        });
    </script>
{% endblock %}
{% block content %}
    <div class="card border-primary mb-5 shadow-lg rounded">
        <div class="card-header">
            Skillet Editor
            <div class="float-right">
                {% if view.help_text and view_help_text != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% elif view.service.description and view.service.description != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% endif %}
            </div>

        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="id_skillet_id">Name:</label>
                <input type="text" name="skillet_id" value="{{ skillet.name }}" class="form-control"
                       id="id_skillet_id">
            </div>
            <div class="form-group">
                <label for="id_skillet_label">Label:</label>
                <input type="text" name="skillet_label" value="{{ skillet.label }}" class="form-control"
                       id="id_skillet_label">
            </div>
            <div class="form-group mb-4">
                <label for="id_skillet_description">Description:</label>
                <textarea name="skillet_description" cols="50" rows="3" class="form-control"
                          id="id_skillet_description">{{ skillet.description }}</textarea>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-outline-primary"
                        onclick="update_preamble()">Update Preamble</button>
            </div>
            <hr/>
            <div class="form-group mb-4">
                <div id="all_labels">
                    <label for="all_labels_group">Labels:</label>
                </div>
                <div id="new_label" class="text-right">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#add_label_modal">Add Label
                    </button>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="all_variables">Variables:</label>
                <div id="all_variables">
                </div>
                <div id="new_variable" class="text-right">
                    <button type="button" class="btn btn-outline-primary" onclick="show_add_variable();">
                        Add Variable
                    </button>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="all_snippets">Snippets:</label>
                <div id="all_snippets">
                </div>
                <div id="new_snippet" class="text-right">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#add_snippet_modal">Add Snippet
                    </button>
                </div>
            </div>
            <hr/>
            <p class="card-text">
            <form action="{{ action }}" id="dynamic_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'pan_cnc/bootstrap_form.html' with form=form %}
            </form>
            </p>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-success" onclick="show_skillet()">
                Debug
            </button>
            <a href="/cancel" class="btn btn-danger">Cancel</a>
            <button type="button" class="btn btn-primary" onclick="save_skillet()">
                Save
            </button>
        </div>
    </div>
    {% include 'pan_cnc/help_text_modal.html' %}

    <!-- Label Clone -->
    <div class="input-group mb-3" id="label_base" style="display: none">
        <input type="text" value=""
               data-label_type="key" class="form-control"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value=""
               data-label_type="value" class="form-control"/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="remove_option(this);">
                        <i class="fa fa-minus"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Variable Clone -->
    <div class="input-group mb-3" id="variable_base" style="display: none">
        <div class="input-group-prepend">
                <span class="input-group-text" title="Drag to Sort">
                        <i class="fa fa-sort"></i>
                </span>
        </div>
        <input type="text" value=""
               data-variable_attribute="name" class="form-control bg-light" disabled="disabled"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value=""
               data-variable_attribute="type" class="form-control bg-light" disabled/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="show_edit_variable(this);">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Snippet Clone -->
    <div class="input-group mb-3" id="snippet_base" style="display: none">
        <div class="input-group-prepend">
                <span class="input-group-text" title="Drag to Sort">
                        <i class="fa fa-sort"></i>
                </span>
        </div>
        <input type="text" value=""
               data-snippet_attribute="name" class="form-control bg-light" disabled="disabled"/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="show_edit_snippet(this);">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Dropdown Option Clone -->
    <div class="input-group mb-3" id="dropdown_option_base" style="display: none">
        <input type="text" value=""
               data-dropdown_option_type="key" class="form-control"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value=""
               data-dropdown_option_type="value" class="form-control"/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="remove_option(this);">
                        <i class="fa fa-minus"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Checkbox Option Clone -->
    <div class="input-group mb-3" id="checkbox_option_base" style="display: none">
        <input type="text" value=""
               data-checkbox_option_type="key" class="form-control"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value=""
               data-checkbox_option_type="value" class="form-control"/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="remove_option(this);">
                        <i class="fa fa-minus"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Radio Option Clone -->
    <div class="input-group mb-3" id="radio_option_base" style="display: none">
        <input type="text" value=""
               data-radio_option_type="key" class="form-control"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value=""
               data-radio_option_type="value" class="form-control"/>
        <div class="input-group-append">
                <span class="input-group-text">
                    <a href="#" onclick="remove_option(this);">
                        <i class="fa fa-minus"></i>
                    </a>
                </span>
        </div>
    </div>

    <!-- Output Definitions Clone -->
    <div id="output_base" style="display: none" class="bg-light mb-0 w-100 mt-1 p-1">
        <a href="#" class="float-right" onclick="remove_output(this);">
            <i class="fa fa-times"></i>
        </a>
        <pre class="mb-0"><code class="yaml"> - name: <span data-output_attribute_type="name"></span>
   <span data-output_attribute_type="key"></span>: <span data-output_attribute_type="value"></span></code></pre>
    </div>

    <!-- output definitions Clone OLD -->
    <div class="input-group mb-3" id="output_base_old" style="display: none">
        <input type="text" value="" class="form-control" data-output_attribute_type="name"
               disabled="disabled"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value="" class="form-control" data-output_attribute_type="key"
               disabled="disabled"/>
        <div class="input-group-append"><span class="input-group-text">:</span></div>
        <input type="text" value="" class="form-control" data-output_attribute_type="value"
               disabled="disabled"/>
    </div>

    <!-- Add Label Modal -->
    <div class="modal fade" id="add_label_modal" tabindex="-1" role="dialog" aria-labelledby="add_label_label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_label_label">Add Label</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <label for="new_label_group">Add Label:</label>
                    <div class="input-group" id="new_label_group">
                        <input type="text" name="label_key" value=""
                               data-label_type="key" class="form-control" id="id_labels_key">
                        <div class="input-group-append"><span class="input-group-text">:</span></div>
                        <input type="text" name="label_value" value=""
                               data-label_type="value" class="form-control" id="id_labels_value">
                        <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" onclick="add_new_label();">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Variable modal -->
    <div class="modal fade" id="edit_variable_modal" tabindex="-1" role="dialog"
         aria-labelledby="edit_variable_label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_variable_label">Edit Variable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <input type="hidden" value="update" class="form-control" id="id_variable_operation">
                    <label for="id_variable_name">Name:</label>
                    <input type="text" value="" class="form-control" id="id_variable_name">
                    <label for="id_variable_description">Description:</label>
                    <input type="text" value="" class="form-control" id="id_variable_description">
                    <label for="id_variable_default">Default:</label>
                    <input type="text" value="" class="form-control" id="id_variable_default">
                    <label for="id_variable_type">Variable Type:</label>
                    <select class="form-control" id="id_variable_type">
                        <option value="text">Text</option>
                        <option value="text_area">Text Area</option>
                        <option value="password">Password</option>
                        <option value="dropdown">Dropdown Select</option>
                        <option value="checkbox">Checkbox Select</option>
                        <option value="radio">Radio Select</option>
                        <option value="number">Integer</option>
                        <option value="float">Float</option>
                        <option value="fqdn_or_ip">FQDN</option>
                        <option value="ip_address">IP Address</option>
                        <option value="cidr">CIDR (IP with Netmask)</option>
                    </select>
                    <!-- Dropdown Items -->
                    <div class="form-group">
                        <label for="all_dropdown_options">Dropdown Items:</label>
                        <div class="input-group" id="all_dropdown_options"></div>
                        <div class="input-group" id="dropdown_options_add_ui">
                            <input type="text" value="" placeholder="key" class="form-control" id="id_dropdown_key"
                                   data-modal_source="id_variable_type" data-modal_value="dropdown">
                            <div class="input-group-append"><span class="input-group-text">:</span></div>
                            <input type="text" value="" placeholder="value" class="form-control" id="id_dropdown_value">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" onclick="add_new_option('dropdown');">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Checkbox items -->
                    <div class="form-group">
                        <label for="all_checkbox_options">Checkbox Items:</label>
                        <div class="input-group" id="all_checkbox_options"></div>
                        <div class="input-group" id="checkbox_options_add_ui">
                            <input type="text" value="" placeholder="key" class="form-control" id="id_checkbox_key"
                                   data-modal_source="id_variable_type" data-modal_value="checkbox">
                            <div class="input-group-append"><span class="input-group-text">:</span></div>
                            <input type="text" value="" placeholder="value" class="form-control" id="id_checkbox_value">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" onclick="add_new_option('checkbox');">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Radio items -->
                    <div class="form-group">
                        <label for="all_radio_options">Radio Items:</label>
                        <div class="input-group" id="all_radio_options"></div>
                        <div class="input-group" id="radio_options_add_ui">
                            <input type="text" value="" placeholder="key" class="form-control" id="id_radio_key"
                                   data-modal_source="id_variable_type" data-modal_value="radio">
                            <div class="input-group-append"><span class="input-group-text">:</span></div>
                            <input type="text" value="" placeholder="value" class="form-control" id="id_radio_value">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" onclick="add_new_option('radio');">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="add_update_variable()"
                            id="edit_var_submit_btn"
                            data-dismiss="modal">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Variable of type Text Modal -->
    <div class="modal fade" id="edit_text_variable_modal" tabindex="-1" role="dialog"
         aria-labelledby="edit_text_variable_label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_text_variable_label">Edit Text Variable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <label for="id_text_variable_name">Name:</label>
                    <input type="text" value="" class="form-control" id="id_text_variable_name" disabled>
                    <label for="id_text_variable_description">Description:</label>
                    <input type="text" value="" class="form-control" id="id_text_variable_description">
                    <label for="id_text_variable_default">Default:</label>
                    <input type="text" value="" class="form-control" id="id_text_variable_default">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_text_variable()"
                            data-dismiss="modal">Update
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Show Skillet Modal -->
    <div class="modal fade" id="show_skillet_modal" tabindex="-1" role="dialog"
         aria-labelledby="show_skillet_label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="show_skillet_label">Skillet JSON</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <textarea class="form-control text-monospace small"
                              style="width: 1200px; font-size: 80%" rows="20" id="skillet_json_output"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="save_skillet()"
                            data-dismiss="modal">Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit PANOS Snippet Modal -->
    <div class="modal fade" id="edit_panos_snippet_modal" tabindex="-1" role="dialog"
         aria-labelledby="edit_panos_snippet_label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_panos_snippet_modal_label">Edit PAN-OS Snippet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <div class="form-group">
                        <label for="id_panos_snippet_name">Name:</label>
                        <input type="text" value="" class="form-control" id="id_panos_snippet_name" disabled>
                        <label for="id_panos_snippet_cmd">CMD:</label>
                        <select class="form-control" id="id_panos_snippet_cmd">
                            <option>set</option>
                            <option>get</option>
                            <option>cli</option>
                            <option>op</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_panos_snippet_set_xpath">XPath:</label>
                        <input type="text" value="" class="form-control" id="id_panos_snippet_set_xpath"
                               data-modal_source="id_panos_snippet_cmd" data-modal_value="set">
                        <label for="id_panos_snippet_set_element">Element:</label>
                        <textarea class="form-control" id="id_panos_snippet_set_element"></textarea>
                        <p class="small muted text-right m-0">
                            <a href="#" onclick="enlarge_text_area('id_panos_snippet_set_element')">
                                <i class="fa fa-edit"></i>
                            </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="id_panos_snippet_get_xpath">XPath:</label>
                        <input type="text" value="" class="form-control" id="id_panos_snippet_get_xpath"
                               data-modal_source="id_panos_snippet_cmd" data-modal_value="get">
                    </div>
                    <div class="form-group">
                        <label for="id_panos_snippet_cmd_cmd_str">CLI:</label>
                        <input type="text" value="" class="form-control" id="id_panos_snippet_cmd_cmd_str"
                               data-modal_source="id_panos_snippet_cmd" data-modal_value="cli">
                    </div>
                    <div class="form-group">
                        <label for="id_panos_snippet_cmd_op">Operational Command XML:</label>
                        <input type="text" value="" class="form-control" id="id_panos_snippet_cmd_op"
                               data-modal_source="id_panos_snippet_cmd" data-modal_value="op">
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label for="id_panos_snippet_output_type">Output Type:</label>
                        <select id="id_panos_snippet_output_type" class="form-control">
                            <option selected>xml</option>
                            <option selected>json</option>
                            <option selected>text</option>
                        </select>
                    </div>

                    <!-- Outputs -->
                    <div class="form-group">
                        <label for="all_output_options">Output Items:</label>
                        <div class="input-group" id="all_output_options"></div>
                    </div>
                    <a href="#snippet_outputs_add" data-toggle="collapse" data-target="#snippet_outputs_add"
                       aria-expanded="true" aria-controls="snippet_outputs_add">
                        <i class="fa fa-plus"></i>Add Output
                    </a>
                    <div id="snippet_outputs_add" class="form-group collapse">
                        <label for="id_output_name">Variable Name:</label>
                        <input type="text" value="" placeholder="" class="form-control"
                               id="id_output_name">
                        <label for="id_output_key">Capture Type:</label>
                        <select id="id_output_key" class="form-control">
                            <option value="capture_list" selected="selected">Capture List</option>
                            <option value="capture_pattern">Capture Pattern</option>
                            <option value="capture_value">Capture Value</option>
                            <option value="capture_object">Capture Object</option>
                        </select>
                        <label for="id_output_value">XPath Query:</label>
                        <div class="input-group">
                            <input type="text" value="" placeholder="" class="form-control"
                                   id="id_output_value">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" onclick="add_new_output();">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_panos_snippet()"
                            data-dismiss="modal">Update
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Text Edit Modal -->
    <div class="modal fade" id="show_textarea_modal" tabindex="-1" role="dialog"
         aria-labelledby="show_textarea_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="show_skillet_label">Edit Text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <textarea class="form-control text-monospace small"
                              style="width: 1200px; font-size: 80%" rows="20" id="text_area_input"></textarea>
                    <input type="hidden" id="text_area_target" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="update_text_area_source()"
                            data-dismiss="modal">Update
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}