{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/shuffle.min.js' %}"></script>
{% endblock %}
{% block content %}

    <h3 class="mb-4"><a href="/panhandler/favorites" class="text-dark">Favorites</a> -> {{ collection }}</h3>

    <div class="d-flex justify-content-between">
        <div>
            <label for="sort_buttons" class="text-muted d-block">Sort</label>
            <div class="btn-group btn-group-sm" role="group" aria-label="..." id="sort_buttons">
                <button type="button" class="btn btn-outline-secondary" id="sort_name">Name</button>
                <button type="button" class="btn btn-outline-secondary" id="sort_type">Type</button>
                <button type="button" class="btn btn-outline-secondary" id="sort_order">Order</button>
            </div>
        </div>
        <div>
            <label for="filter_buttons" class="text-muted d-block">Filter</label>
            <div class="btn-group btn-group-sm" role="group" id="filter_buttons">
                <button type="button" class="btn btn-outline-secondary" id="filter_panos">PAN-OS</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_panorama">Panorama</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_validation">PAN Validation</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_python">Python</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_rest">REST</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_template">Template</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_terraform">Terraform</button>
                <button type="button" class="btn btn-outline-secondary" id="filter_workflow">Workflow</button>
            </div>
        </div>
        <div>
            <label for="search_collection" class="text-muted d-block">Search</label>
            <input type="text" id="search_collection"/>
        </div>
    </div>
    <div id="collection_grid" class="pb-6 mb-4 col-sm-12">
        {% for skillet in skillets %}
            <div class="grid__brick mt-3 mb-3 col-sm-4" data-name="{{ skillet.label }}"
                 data-order="{{ skillet.labels.order | default:forloop.counter }}"
                 data-groups=["{{ skillet.type }}"] data-skillet_type="{{ skillet.type }}">
                <div class="card shadow" style="height: 400px">
                    <div class="card-header">
                        <a href="/panhandler/favorite_skillet/{{ skillet.name }}"
                           class="float-right btn btn-outline-warning btn-sm">
                            <li class="fa fa-heart"></li>
                        </a>
                        {{ skillet.label }}
                    </div>
                    <div class="card-body" style="height: 85%; overflow-y: auto">
                        <p class="card-text">
                            {{ skillet.description }}
                        </p>
                        <p class="card-text text-muted">Skillet type: {{ skillet.type }}</p>
                        <p class="card-text text-muted align-text-bottom">Collections:
                            {% for c in skillet.labels.collection %}
                                <a href="/panhandler/collection/{{ c }}">{{ c }}</a>,
                            {% endfor %}
                            <a href="/panhandler/collections">All</a>
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        {% if skillet.type == 'pan_validation' %}
                            <a href="/panhandler/validate/{{ skillet.name }}" class="btn btn-primary">Go</a>
                        {% else %}
                            <a href="/panhandler/skillet/{{ skillet.name }}" class="btn btn-primary">Go</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
        {#        <div class="col-1 sizer-element"></div>#}
    </div>

    <script type="text/javascript">

        function clear_filter_buttons() {
            let selector = $("[id^=filter_]");
            selector.removeClass('bg-primary text-white');
        }

        function clear_sort_buttons() {
            let selector = $("[id^=sort_]");
            selector.removeClass('bg-primary text-white');
        }

        function perform_filter(ele, filter_term) {
            clear_filter_buttons();
            $('#search_collection').val('');
            if (shuffleInstance.group === filter_term) {
                shuffleInstance.filter();
                return;
            }
            $(ele).addClass('bg-primary text-white');
            shuffleInstance.filter(filter_term);
        }

        function perform_sort(ele, sort_term) {
            clear_sort_buttons();
            $(ele).addClass('bg-primary text-white');
            let sort_options = {
                'by': function (element) {
                    return $(element).data(sort_term)
                }
            };
            shuffleInstance.sort(sort_options);
        }

        // var shuffleInstance;
        $(document).ready(function () {
            window.shuffleInstance = new Shuffle(document.getElementById('collection_grid'), {
                itemSelector: '.grid__brick',
                sizer: '.sizer-element'
            });
            {% if default_sort == 'order' %}
                perform_sort('#sort_order', 'order');
            {% else %}
                perform_sort('#sort_name', 'name');
            {% endif %}
        });

        $('#sort_name').on('click', function () {
                perform_sort(this, 'name');
            }
        );

        $('#sort_type').on('click', function () {
                perform_sort(this, 'skillet_type');
            }
        );

        $('#sort_order').on('click', function () {
                perform_sort(this, 'order');
            }
        );

        $('#filter_panos').on('click', function () {
                perform_filter(this, 'panos');
            }
        );

        $('#filter_panorama').on('click', function () {
                perform_filter(this, 'panorama');
            }
        );

        $('#filter_validation').on('click', function () {
                perform_filter(this, 'pan_validation');
            }
        );

        $('#filter_panorama_gpcs').on('click', function () {
                perform_filter(this, 'panorama-gpcs');
            }
        );

        $('#filter_python').on('click', function () {
                perform_filter(this, 'python3');
            }
        );

        $('#filter_rest').on('click', function () {
                perform_filter(this, 'rest');
            }
        );

        $('#filter_template').on('click', function () {
                perform_filter(this, 'template');
            }
        );

        $('#filter_terraform').on('click', function () {
                perform_filter(this, 'terraform');
            }
        );

        $('#filter_workflow').on('click', function () {
                perform_filter(this, 'workflow');
            }
        );


        $('#search_collection').on('keyup', function () {
            clear_filter_buttons();
            clear_sort_buttons();
            let search_text = $(this).val().toLowerCase().trim();
            shuffleInstance.filter(function (element, shuffleInstance) {
                // var title_element = element.querySelector('.grid__brick__title');
                let title_element = $(element).data('name');
                let title_text = title_element.toLowerCase().trim();

                {#return title_text.indexOf(search_text) !== -1;#}
                if (title_text.includes(search_text)) {
                    return true;
                } else {
                    return false;
                }

            });
        });
    </script>
{% endblock %}