{% extends 'pan_cnc/dynamic_form.html' %}
{% block head %}
    <style>
        .table td {
            border-top: 0px;
        }
    </style>
    <script type="text/javascript">
        var submit_lock = false;

        function capture_this(name, link, branch) {
            if (submit_lock === true) {
                console.log('Already submitted!')
                return;
            }
            console.log('Locking form');
            submit_lock = true;

            let doc = $(document.documentElement);
            doc.css('cursor', 'progress');

            $('#id_repo_name').val(name);
            $('#id_url').val(link);

            $('#dynamic_form').submit();
        }

        function more_info(link) {
            let w = window.open(link, '_blank');
            if (w) {
                w.focus()
            } else {
                window.location = link;
            }
        }
    </script>
{% endblock %}
{% block before_form %}
    <div class="card border-primary mb-5 shadow-lg rounded">
        <div class="card-header">
            Recommended Repositories
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                {% for item in links %}
                    <tr>
                        <td class="text-nowrap font-weight-bold">{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td class="text-nowrap">
                            {% if item.documentation_link %}
                                <a class="btn btn-success text-white" href="#"
                                   onclick="more_info('{{ item.documentation_link}}')">
                                   Documentation
                                </a>
                            {% endif %}
                            <a class="btn btn-primary" href="#"
                               onclick="capture_this('{{ item.name }}', '{{ item.link }}', '{{ item.branch }}')">
                                Import
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            <tbody>
            <tr>
                <td colspan="3" class="text-right">
                    <a class="btn btn-outline-success" target="_blank" href="https://github.com/topics/skillets">
                        Find More Skillets
                    </a>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}