{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}
{% block head %}
    <script type="text/javascript">

    function push_local_changes() {

        let doc = $(document.documentElement);
        doc.css('cursor', 'progress');

        let data = {
            'name': '{{ repo_name }}',
        }

        $.ajax({
                method: "POST",
                url: "/panhandler/push",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data)
            })
                .fail(function (message) {
                    alert(message);
                    doc.css('cursor', '');
                    console.log(message)
                })
                .done(function (data) {
                    if (confirm(data['status'])) {
                        window.location = "/panhandler/update_repo/{{ repo_name }}/{{ repo_detail.branch }}";
                    }
                });
    }
    </script>
{% endblock %}
{% block content %}
    <div class="card border-primary mb-5 shadow-lg">
        <div class="card-header">Repository Detail for {{ repo_detail.name }}
            <div class="float-right">
                {% if view.help_text != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% elif view.service.descripion != '' %}
                    <a href="#" data-toggle="modal" data-target="#helpTextModal" title="Help">
                        <i class="fas fa-question-circle text-primary mr-1"></i>
                    </a>
                {% endif %}
                {% if app_dir and snippet_name %}
                    <a href="/debug/{{ app_dir }}/{{ snippet_name }}" title="Debug Snippet">
                        <i class="fas fa-cog text-muted" title="Debug Snippet"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p class="card-text">Active Branch: <a href="#checkout_form">{{ repo_detail.branch }}</a></p>

            <p class="card-text">
                {% if repo_detail.description != repo_detail.branch %}
                    {{ repo_detail.description }}
                {% endif %}
            <div class="mt-3">
                {% if repo_detail.is_github %}
                    <a href="{{ repo_detail.link }}/tree/{{ repo_detail.branch }}">{{ repo_detail.url }}</a>
                {% elif 'spring.paloalto' in repo_detail.link %}
                    <a href="{{ repo_detail.link }}/tree/{{ repo_detail.branch }}">{{ repo_detail.url }}</a>
                {% else %}
                    <a href="{{ repo_detail.link }}">{{ repo_detail.url }}</a>
                {% endif %}
            </div>
            </p>
            <p class="card-text mt-4 mb-4">
                <a href="/panhandler/update_repo/{{ repo_name }}/{{ repo_detail.branch }}"
                   class="btn btn-primary mr-2">Update To Latest</a>
                <a href="/panhandler/remove_repo/{{ repo_name }}" class="btn btn-danger mr-2">Remove Repository</a>
                <a href="/panhandler/repos" class="btn btn-secondary mr-2">Repositories</a>
                {% if 'git@' in repo_detail.url %}
                <a href="#" onclick="push_local_changes()" class="btn btn-success mr-2"
                    title="{{ status }}">Push Local Changes</a>
                {% endif %}
            </p>
            <h5 class="card-title">Latest Updates</h5>
            <p class="card-text">
            <table class="table">
                <caption>Commit History for branch: {{ repo_detail.branch }}</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Message</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for c in repo_detail.commits %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if repo_detail.commits_url %}
                            <td>
                                <a target="_" href="{{ repo_detail.commits_url }}{{ c.id }}">
                                    {{ c.message }}
                                </a>
                            </td>
                        {% else %}
                            <td>{{ c.message }}</td>
                        {% endif %}
                        <td>{{ c.author }}</td>
                        <td>{{ c.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h5 class="card-title">Skillets</h5>
            <p class="card-text">

            <table class="table">
                <caption>All Defined metadata files in repository: {{ repo_detail.name }}</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">View</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for s in snippets|dictsort:"label" %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% if s.type == 'pan_validation' %}
                                <a href="/panhandler/validate/{{ s.name }}">{{ s.label }}</a>
                            {% else %}
                                <a href="/panhandler/skillet/{{ s.name }}">{{ s.label }}</a>
                            {% endif %}
                        </td>
                        <td class="nowrap text-nowrap">
                            <a href="/debug/{{ app_dir }}/{{ s.name }}" class="d-inline">
                                <i class="fas fa-cog text-muted"></i>
                            </a>
                            &nbsp;
                            <a href="/panhandler/edit_skillet/{{ repo_detail.name }}/{{ s.name }}" class="d-inline">
                                <i class="fas fa-edit text-muted"></i>
                            </a>
                            &nbsp;
                            <a href="/panhandler/favorite_skillet/{{ s.name }}" class="d-inline">
                                <i class="fas fa-heart text-muted"></i>
                            </a>
                        </td>
                        <td>{{ s.description }}</td>
                        <td>{{ s.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right w-100">
                <a href="/panhandler/create_skillet/{{ repo_detail.name }}" class="btn btn-primary">Create Skillet</a>
            </div>
            </p>

            <h5 class="card-title">Collections</h5>
            <p class="card-text">
            <table class="table">
                <caption>All collections found in repository: {{ repo_detail.name }}</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Collection</th>
                </tr>
                </thead>
                <tbody>
                {% for c in collections %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="/panhandler/collection/{{ c }}">
                                <i class="fas fa-info-circle"></i>
                                {{ c }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
    </div>

    <script type="application/javascript">
        function update_repo() {
            let branch = $('#branch_select').val();
            if (branch === "{{ repo_detail.branch }}") {
                console.log('nothing to switch to!');
                return;
            }
            let doc = $(document.documentElement);
            doc.css('cursor', 'progress');
            window.location = '/panhandler/update_repo/{{ repo_detail.name }}/' + branch;
        }
    </script>
    <div class="card border-primary mb-5 shadow-lg">
        <div class="card-header" id="checkout_form">Checkout New Branch for {{ repo_detail.name }}</div>
        <div class="card-body">
            <p class="card-text">
                Current Branch: {{ repo_detail.branch }}
            <div class="form-group">
                <label for="branch_select">Available Branches</label>
                <select class="form-control" id="branch_select" name="branch">
                    {% for b in repo_detail.branches %}
                        {% if b == repo_detail.branch %}
                            <option selected>{{ b }}</option>
                        {% else %}
                            <option>{{ b }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <small class="form-text text-muted">This will checkout a different branch from the
                    {{ repo_detail.name }} git repository. Only Skillets found in this branch of this repository
                    will be available for use.
                </small>
            </div>
            </p>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary" id="submit_button" onclick="update_repo()">Checkout</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade border-top border-primary" id="helpTextModal" tabindex="-1" role="dialog"
         aria-labelledby="helpTextModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if view.help_text != '' %}
                        {{ view.help_text|linebreaksbr }}
                    {% elif view.service.description != '' %}
                        {{ view.service.description }}
                    {% endif %}
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload SSH Key -->
    <div class="modal fade" id="deploy_key_modal" tabindex="-1" role="dialog"
         aria-labelledby="deploy_key_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deploy_key_modal_title">SSH Deploy Key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto">
                    <p class="card-text">
                       This is your SSH Deploy Key for this repository. Please add this to the upstream repository
                        settings with Read / Write permissions.
                    </p>
                    <label for="id_deploy_key_pub">Public Key:</label>
                    <textarea class="form-control" rows="7" id="id_deploy_key_pub"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        Got It
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}