{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
<div class="card border-primary mb-6 shadow-lg">
    <div class="card-header">Repository Detail for {{ repo_detail.name }}</div>
    <div class="card-body">
        <h5 class="card-title">Details</h5>
        <p class="card-text">
            {{ repo_detail.description }}
            <div class="mt-3 mb-5">
                <a href="{{ repo_detail.url }}">{{ repo_detail.url }}</a>
            </div>
        </p>
        <h5 class="card-title">Latest Updates</h5>
        <p class="card-text">
        <table class="table">
            <caption>Commit History for branch: {{ repo_detail.branch }}</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Message</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for c in repo_detail.commits %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if repo_detail.commits_url %}
                <td>
                    <a href="{{ repo_detail.commits_url }}{{ c.id }}">
                    {{ c.message }}
                    </a>
                </td>
                {% else %}
                <td>{{ c.message }}</td>
                {% endif %}
                <td>{{ c.author }}</td>
                <td>{{ c.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

       <h5 class="card-title">Metadata files</h5>
        <p class="card-text">
        <table class="table">
            <caption>All Defined metadata files in repository: {{ repo_detail.name }}</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Label</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for s in snippets %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="/debug/{{ app_dir }}/{{ s.name }}">
                    {{ s.label }}
                    </a>
                </td>
                <td>{{ s.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </p>
        <a href="/panhandler/update_repo/{{ repo_name }}" class="btn btn-primary mr-2">Update To Latest</a>
        <a href="/panhandler/remove_repo/{{ repo_name }}" class="btn btn-danger mr-2">Remove Repository</a>
        <a href="/panhandler/repos" class="btn btn-secondary mr-2">Repositories</a>

    </div>
</div>
{%  endblock %}