{% extends base_html %}
{% load static %}

{% block content %}

{% for group, group_members in snippets.items %}

{% if forloop.counter0|divisibleby:2 %}
{% if forloop.first %}
<div class="row mb-4">
    {% else %}
</div><div class="row mb-4">
    {% endif %}
    {% endif %}
    <div class="col-sm-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">{{ group }}</h5>
                <p class="card-text">Where can I find this information?</p>
                <a href="/panhandler/snippets_by_group/{{ group }}" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}