{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron mt-4 shadow-lg">
    <h1 class="display-3">
        {{ title }}
    </h1>
    <p class="lead">
        Panhandler is a tool for sharing Pan-OS configurations and configuration sets. These configs are stored and
        shared via Git repositories. In addition to Pan-OS, Panhandler can also consume other types of repositories,
        such as Terraform templates, or generic network device configuration templates.
        <h4> Latest Updates: </h4>
        <ul>
        <li>
        2019-01-25: MSSP templates updates brings updated configuration for internet gateway for Gold, Silver, and
        bronze configuration sets.
        </li>
        <li>
        2019-01-01: Iron Skillet Day One best practice configs added!
        </li>
        </ul>
    <p class="lead">
        {% if documentation_link %}
        <a class="btn btn-primary btn-lg mr-2" href="{{ documentation_link }}" role="button">Learn more</a>
        {% endif %}
        {% if next %}
        <a class="btn btn-secondary btn-lg" href="/{{ app_dir }}/{{ next }}" role="button">Get Started</a>
        {% endif %}
    </p>
</div>
{%  endblock %}